/**
 * variables.scss
 *
 * These are the styles of variables.
 *
 * Index
 * - FONTS
 * - COLORS
 * - FONT SIZE
 *  |- Title
 */

// -- FONTS -- //

$FranklinGothicATF: "Franklin Gothic ATF";
$BCNovaticaCYR: "BC Novatica CYR";

// -- COLORS -- //
$--unnamed-color-e2d59c: #e2d59c;
$--unnamed-color-eb5d37: #eb5d37;
$--unnamed-color-f9b123: #f9b123;
$--unnamed-color-dff2eb: #dff2eb;
$--unnamed-color-177755: #177755;
$--unnamed-color-ffffff: #ffffff;
$--unnamed-color-0a1f1a: #0a1f1a;
$--unnamed-color-b1d1ef: #b1d1ef;

$black: #000;
$blacks: #0A1F1A;
$border: #707070;
$borderf: #B2B2B2;
$bordert: #787878;
$blue: #32518E;
$white: #fff;
$whitea: #F8F8F8;
$whiteb: #f4f8f7;
$text-black: $--unnamed-color-0a1f1a;
$gray: #808080;
$green-light: $--unnamed-color-dff2eb;
$green: #177755;
$green-light: #DFF2EB;
$greeni: #76958A;
$error: #ce4343;
$shadow: #0b1f1a;
$gradient-farmers: $--unnamed-color-e2d59c;
$orange: $--unnamed-color-eb5d37;
$cream: #f9b12333;
$gl-green: #dff2eb38;
