body {
  &.about-us {
    position: relative;
    top: 7rem;
    @include mq (md) {
      top: initial;
    }
    .node__content { 
      margin: 0;
      background-image: url('../assets/images/bg/trama-fondo.jpg');
      background-position: bottom;
      background-repeat: repeat;
      background-size: 127px;
      padding: 0;
      @include mq (md) {
        background-size: 127px;
      }
      .layout {
        margin: auto;
        max-width: 200rem;
        position: relative; 
        &--twocol-section {
          + {
            .layout--onecol {
              padding: 4rem 0;
              @include mq (md) {
                padding: 15rem 0;  
              }
            }
          }
        }
      }
    }
  }
}