body {
  &.store {
    .node__content { 
      margin: 0;
      .layout {
        margin: auto;
        max-width: 200rem;
        position: relative; 
        &--onecol {
          &:nth-child(2) {
            .layout__region {
              &--content {
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                align-items: center;
                background-color: $whiteb;
                padding: 3rem 0;
                @include mq (md) {
                  flex-direction: row;
                  
                }
                @include mq (lg) {
                  padding: 3rem 5rem 3rem 3rem;
                }
              }
            }
          }
        }
        &--twocol-section {
          @include mq (sm) {
            flex-direction: column;
          }
          @include mq (md) {
            flex-direction: row;
          }
        }
      }
    }
  }
}